# name: Build and Push to Dockerhub and deploy to ec2
# on:
#   pull_request:
#     branches:
#       - main
#   push:
#     branches:
#       - main
# jobs:
#   build-push-deploy:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Check out the repo
#         uses: actions/checkout@v2
#       - name: Log in to Docker hub
#         uses: docker/login-action@v3
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}
#       - name: Build and Push Image
#         uses: docker/build-push-action@v5
#         with:
#           context: .
#           file: ./server/Dockerfile
#           push: true
#           tags: vajradhardummu/ci-cd-1:latest
#       - name:
