# name: Build and Push to Dockerhub and deploy to EC2
# on:
#   push:
#     branches:
#       - main
#     paths:
#       - "server/**"

# jobs:
#   build-push-deploy:
#     runs-on: ubuntu-latest
#     steps:
#       - name: Checkout the repo
#         uses: actions/checkout@v4

#       - name: Log in to Docker Hub
#         uses: docker/login-action@v3
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}

#       - name: Build and Push Image
#         uses: docker/build-push-action@v6
#         with:
#           context: ./server
#           file: ./server/Dockerfile
#           push: true
#           tags: vajradhardummu/punarnavah-server:latest

#       - name: Verify Docker image
#         run: docker pull vajradhardummu/punarnavah-server:latest

#       - name: Deploy to EC2
#         uses: appleboy/ssh-action@v0.1.9
#         with:
#           host: ${{ secrets.SSH_HOST }}
#           username: ${{ secrets.SSH_USERNAME }}
#           key: ${{ secrets.SSH_KEY }}
#           script: |
#             # Pull the latest Docker image from Docker Hub
#              docker pull vajradhardummu/punarnavah-server:latest
#              docker stop punarnavah-server || true
#              docker rm punarnavah-server || true
#             # Run the new container with environment variables
#              docker run -d \
#              --name punarnavah-server \
#              --restart unless-stopped \
#               -p 8080:8080 \
#               -e NODE_ENV=production \
#               -e PORT=${{ secrets.ENV_PORT }} \
#               -e DATABASE_URL=${{ secrets.ENV_DATABASE_URL }} \
#               -e CLIENT_URL=${{ secrets.ENV_CLIENT_URL }} \
#               -e JWT_SECRET=${{ secrets.ENV_JWT_SECRET }} \
#               -e SENDER_EMAIL=${{ secrets.ENV_SENDER_EMAIL }} \
#               -e SENDER_PASS=${{ secrets.ENV_SENDER_PASS }} \
#               vajradhardummu/punarnavah-server:latest
name: Build and Push to Dockerhub and deploy to EC2

on:
  push:
    branches:
      - main
    paths:
      - "server/**"

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repo
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: ./server
          file: ./server/Dockerfile
          push: true
          tags: vajradhardummu/punarnavah-server:latest

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.9
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USERNAME }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            docker pull vajradhardummu/punarnavah-server:latest

            docker stop punarnavah-server || true
            docker rm punarnavah-server || true

            docker run -d \
            --name punarnavah-server \
            --restart unless-stopped \
            -p 8080:8080 \
            -e NODE_ENV=production \
            -e PORT=${{ secrets.ENV_PORT }} \
            -e DATABASE_URL=${{ secrets.ENV_DATABASE_URL }} \
            -e CLIENT_URL=${{ secrets.ENV_CLIENT_URL }} \
            -e JWT_SECRET=${{ secrets.ENV_JWT_SECRET }} \
            -e SENDER_EMAIL=${{ secrets.ENV_SENDER_EMAIL }} \
            -e SENDER_PASS=${{ secrets.ENV_SENDER_PASS }} \
            vajradhardummu/punarnavah-server:latest
